
.ultimate-div {
    height: 100vh;
}

.app-title {
    border-bottom: 3px solid black;
    background-color: rgba(114, 0, 221);
    height: 5em;
}

.home-pokeball-img {
   display: block;
   margin:  auto;
   margin-top: 3em;
   height: 20em;
   width: 20em; 
}

.home-bottom {
position: relative;
border-top: 3px solid black;
bottom: auto;
height: 4em;
background-color: red;
}

#pick-poke-btn {
    position: relative;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(150, 12, 204);
}

#rand-battle-btn {
    position: relative;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(118, 9, 207);
}

.home-btn-flex {
    position: relative;
    top: 6em;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.Battle-Container {
background-color: rgb(100, 201, 0);
margin: 250px;
margin-top: 0px;
border-radius: 5px;
height: 820px;
border: 3px solid black;
}

.user-status-box{
    background-color: white;
    position: relative;
    float: right;
    top: 500px;
    left: 160px;
    border: 3px solid black;
    border-radius: 5px;
    height: 100px;
    width: 30%;
}

.column {
    float: left;
    width: 12%;
    padding: 5px;
  }


.user-pokemon-holder{
    background-color: white;
    position: relative;
    float: left;
    top: 350px;
    left: 100px;
    border: 10px solid #9b7653;
    background-color: #7aff33;
    border-radius: 400px / 175px;
    height: 100px;
    width: 30%;
}

.cpu-status-box{
    background-color: white;
    position: relative;
    float: left;
    top: 50px;
    left: 110px;
    border: 3px solid black;
    border-radius: 5px;
    height: 100px;
    width: 30%;
}

.cpu-pokemon-holder{
    background-color: white;
    position: relative;
    float: right;
    top: 310px;
    right: 100px;
    border: 10px solid #9b7653;
    background-color: #7aff33;
    border-radius: 400px / 175px;
    height: 100px;
    width: 30%;
}

.Battle {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83jrvo-9c5af987-f243-4528-8455-5ca87551aa58.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzanJ2by05YzVhZjk4Ny1mMjQzLTQ1MjgtODQ1NS01Y2E4NzU1MWFhNTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ppI6BlfrDlMedMOYkq39S7-HuBZtJ8TNEQPKlCZxVl0');
	object-fit: cover;
	background-size:cover;
	height:650px;
	width:934px;
}

.Menu {
    position: relative;
  
    margin: 2px;
    border-radius: 3px;
    height: 160px;
    border: 3px solid black;
    background-color: grey;
}

.text-container {
    position: relative;
    float: left;
    height: 145px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    font-size: 20px;
}

#fight-button{
    position: relative;
    float: right ;
    border-radius: 10px;
    top: 1em;
    width: 25%;
    height: 75px;
    font-size: 30px;
    color: white;
    background-color: red;
    
}

#pokemon-button{
    position: relative;
    float: right;
    left: 3px;
    border-radius: 10px;
    top: 1em;
    width: 25%;
    height: 75px;
    font-size: 30px;
    color: white;
    background-color: green;
}

#cpu-poke{
    position: relative;
    float:left;
    left: 32px;
    bottom: 95px;
    height: 200px;
    width: 200px;
}

#user-poke{
    position: relative;
    float: right;
    right: 32px;
    bottom: 95px;
    height: 200px;
    width: 200px;
}

#moves-back-btn {
    position: relative;
    float: right;
}

#moves-container{
    text-align: center;
    width: auto;
    bottom: 30px;
}

.moves-flex-box {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}

#first-move-btn{
    background-color: rgb(19, 192, 235);
    border: 2px solid black;
}

#second-move-btn{
    background-color: rgb(19, 192, 235);
    border: 2px solid black;
}

#third-move-btn{
    background-color: rgb(19, 192, 235);
    border: 2px solid black;
}

#fourth-move-btn{
    background-color: rgb(19, 192, 235);
    border: 2px solid black;
}

#moves-back-btn {
    border: 2px solid black;
    background-color: lightskyblue;
}

#pick-choose-poke-back-btn {
    float: right;
    border: 2px solid black;
    background-color: lightskyblue;
}

.choose-pokemon-team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.pickpoke-team-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    height: 150px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#pick-poke-back-btn {
    position: relative;
    float: left;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(150, 12, 204);
}

#pick-poke-play-btn {
    position: relative;
    float: right;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(84, 6, 209);
}

.poke-choose-card {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.poke-choose-card:hover {
    background-color: blue;
}

.pick-pokemon-team-card {
    position: relative;
    background-color: lightblue;
    border: 2px solid black;
    top : 10px;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    height: 85%;
}

.pick-pokemon-team-card:hover {
    background-color: red;
}

.poke-cards-div-container {
    margin-top: 4em;
    margin: auto;
    text-align: center;
}

.poke-cards-group-container {
    width: 85%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightsteelblue;
}